<!DOCTYPE html>
<html lang="es">

    {%block stylesheet %} 
    {%endblock%}

<head>
    {% block titulo %}
    {% endblock %}
    <meta charset="utf-8">
    {# <link rel="stylesheet" href="Framework/bootstrap/css/bootstrap.min.css"> #}
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <link rel="stylesheet" href="public/css/styls.css"> #}
</head>

<body>


    {% block contenido %}
{% endblock %}
    
    
    {% block contenido2 %}
    {% endblock %}


    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>

</html>